.Tentang-Kami {
    background-color: #07175F;
}
.tentang-kami-container {
    padding: 60px 20px;
    background-color: #07175F;
    color: #fff;
    transition: background-color 0.5s ease;
}

.tentang-kami-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 20px;
}

.tentang-kami-text {
    flex: 1;
    text-align: left;
}

.tentang-kami-text h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #fff;
}

.tentang-kami-text p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.gambar-tentang-kami {
    flex: 1;
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gambar-tentang-kami:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.visi-misi {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.visi {
    flex: 1;
    background: #A0B0F8;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.misi {
    flex: 1;
    background: #D0D8FB;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.visi:hover, .misi:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.visi h2, .misi h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #000;
}

.visi p, .misi ul {
    font-size: 1.1em;
    line-height: 1.6;
    color: #000;
}

.misi ul {
    padding-left: 20px;
    list-style: disc;
}

.misi li {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .tentang-kami-container {
        padding: 40px 10px;
    }

    .tentang-kami-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .tentang-kami-text {
        text-align: center;
    }

    .visi-misi {
        flex-direction: column;
    }

    .visi, .misi {
        padding: 15px;
    }

    .tentang-kami-text h1 {
        font-size: 2em;
    }

    .tentang-kami-text p {
        font-size: 1em;
    }

    .visi h2, .misi h2 {
        font-size: 1.5em;
    }

    .visi p, .misi ul {
        font-size: 1em;
    }

    .gambar-tentang-kami {
        max-width: 100%;
        margin-bottom: 20px;
    }
}


.read-more {
    color: #007bff;
}


.read-more:hover {
    color: #0056b3;
}