.testimonials-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #fff;
}

.testimonials-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.testimonial-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 400px; /* Menambahkan tinggi untuk memanjangkan card */
}
.testimonial-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.testimonial-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.testimonial-quote {
    font-style: italic;
    color: #666;
    margin-bottom: 15px;
}

.testimonial-author {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.testimonial-rating .star {
    color: gold;
    font-size: 1.2em;
}
